@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 4px;              
}

body::-webkit-scrollbar-thumb {    
  border: 3px solid #fcd34d;  
}

::selection {
  background: #fcd34d; /* Background color for the highlighted text */
  color: black; /* Text color for the highlighted text */
}