@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
  }

  @font-face {
    font-family: "Gelica";
    font-style: black;
    font-weight: 900;
    font-display: swap;
    src:
      local("Gelica Black"),
      url("../fonts/gelica/Gelica-Black.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src:
      local("Gelica Black Italic"),
      url("../fonts/gelica/Gelica-BlackItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
      local("Gelica Bold"),
      url("../fonts/gelica/Gelica-Bold.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src:
      local("Gelica Bold Italic"),
      url("../fonts/gelica/Gelica-BoldItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
      local("Gelica SemiBold"),
      url("../fonts/gelica/Gelica-Semibold.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src:
      local("Gelica SemiBold Italic"),
      url("../fonts/gelica/Gelica-SemiboldItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      local("Gelica Medium"),
      url("../fonts/gelica/Gelica-Medium.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:
      local("Gelica Medium Italic"),
      url("../fonts/gelica/Gelica-MediumItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("Gelica Regular"),
      url("../fonts/gelica/Gelica-Regular.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      local("Gelica Light"),
      url("../fonts/gelica/Gelica-Light.otf") format("woff2");
  }

  @font-face {
    font-family: "Gelica";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:
      local("Gelica Light Italic"),
      url("../fonts/gelica/Gelica-LightItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
      local("SN Pro Black"),
      url("../fonts/sn-pro/SNPro-Black.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src:
      local("SN Pro Black Italic"),
      url("../fonts/sn-pro/SNPro-BlackItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
      local("SN Pro Bold"),
      url("../fonts/sn-pro/SNPro-Bold.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src:
      local("SN Pro Bold Italic"),
      url("../fonts/sn-pro/SNPro-BoldItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      local("SN Pro SemiBold"),
      url("../fonts/sn-pro/SNPro-Semibold.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:
      local("SN Pro SemiBold Italic"),
      url("../fonts/sn-pro/SNPro-SemiboldItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
      local("SN Pro Heavy"),
      url("../fonts/sn-pro/SNPro-Heavy.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src:
      local("SN Pro Heavy Italic"),
      url("../fonts/sn-pro/SNPro-HeavyItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
      local("SN Pro Medium"),
      url("../fonts/sn-pro/SNPro-Medium.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src:
      local("SN Pro Medium Italic"),
      url("../fonts/sn-pro/SNPro-MediumItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("SN Pro Regular"),
      url("../fonts/sn-pro/SNPro-Regular.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
      local("SN Pro Regular Italic"),
      url("../fonts/sn-pro/SNPro-RegularItalic.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      local("SN Pro Light"),
      url("../fonts/sn-pro/SNPro-Light.otf") format("woff2");
  }

  @font-face {
    font-family: "SN Pro";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:
      local("SN Pro Light Italic"),
      url("../fonts/sn-pro/SNPro-LightItalic.otf") format("woff2");
  }
}
